body {
    margin: 0 auto;
    width: 100%;
    background-color: #26323A;
    /* color: white; */
}
#root1 {
    padding-top:0;

}
#section1 {
    padding-bottom: 1em;
    padding-top: 130px;
}

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

header {
    background-color: #082234;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    position:fixed;  
    z-index:1; /*Add this*/
    width:100%;
    text-align:center;
    vertical-align:middle;
    line-height:50px;
    top:0px;
}

.title {
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
}

a:hover {
    color: #437272;
}

div.deckname:hover {
    color: #437272;
}

#intro {
    font-size: 1.5em;
    grid-column: 3/5;
    grid-row: 2/4;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bio-container1 {
    width: 33.33%;
    float: left;
    background-color: #26323A;
    color: white;
}

.bio-container2 {
    width: 33.33%;
    float: left;
    background-color: #26323A;
}

.bio-container3 {
    width: 33.34%;
    float: left;
    background-color: #26323A;
}

#sectionbios {
    display: block;
    padding: 0px 0px 0px 0px;
    background-color: #26323A;
    color: white;
}

.biocontent {
    color: white;
}