body {
    margin: 0 auto;
    width: 100%;
    background-color: white;
    color: #494949;
}
.decks {
    display: flex;
    flex-wrap: wrap;
}
#root1 {
    padding-top:0;

}
#section1 {
    padding-bottom: 1em;
    padding-top: 130px;
}

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}



/* .title {
    color: white;
} */

a {
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
}

a:hover {
    color: #51B59D;
}

div.deckname:hover {
    color: #51B59D;
}


#intro {
    font-size: 1.5em;
    grid-column: 3/5;
    grid-row: 2/4;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bio-container {
    width: 33.33%;
    float: left;
    background-color: #F5F5F5;
    color: #494949;
    padding-top: 40px;
    padding-bottom: 40px;
}

#sectionbios {
    display: block;
    padding: 0px 0px 0px 0px;
}